<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Whithedel Carre, Keenan Mapp, Andy ?">
  <meta name="generator" content="Jekyll v3.8.5">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Checkers oneManShort</title>
  <link href="/public/styles/signin.css" rel="stylesheet">
  <link href="/public/styles/style.scss" rel="stylesheet">
</head>
​

<body>
  {{>header/header}}
  {{{body}}}
  {{>footer/footer}}
</body>

</html>