

<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div>
        <div class="container mt-4">
            <h1 class="display-3">Checkers Rules!</h1>
            <p>Checkers is a classic board game, dating back to around 3000 BC. It is very simple, but a lot of fun! Checkers is known as Draughts in England and there are multiple variations of it all around the world. The game is played on an 8x8 chequered board, essentially a chess board. Each player starts with 12 pieces, placed on the dark squares of the board closest to them. The objective of the game is to kill all the opponent's pieces by jumping over them.</p>
            <div class="row">
                {{!-- signUp Button --}}
                {{#unless user}}
                <div class="col-6">
                    <p><a class="btn btn-primary btn-lg" href="/register" role="button">Sign Up &raquo;</a></p>
                </div>
                {{/unless}}
                {{!-- singin form --}}
                {{#unless user}}
                <div class="col-6 card" id="signinCard">
                    <div class="card-header bg-white text-center">
                        Sign-in
                    </div>
                    <form action="/login" method="POST" class="form-signin">
                        <label for="email" class="sr-only">Email address</label>
                        <input type="email" name="username" id="email" class="form-control mb-1" placeholder="Email address"
                            required autofocus>
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" name="password" id="inputPassword1" class="form-control"
                            placeholder="Password" required>
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block mb-3" id="signin" type="submit">Submit</button>

                    </form>
                </div>
                {{/unless}}
            </div>

        </div>
    </div>
</main>


<div class="row">
    <div class="col-12 text-center">
        {{#if alertMessage}}
        <div class="alert alert-danger" role="alert">
            {{alertMessage}}
        </div>
        {{/if}}
    </div>
</div>



