<!-- Contains the top most banner -->
<header id="header" class="text-center py-5 mb-4">
  <div class="container">
      <h1>Checkers Game</h1></a>
  </div>
  </div>
</header>
  
<div class="checker-table" id="checker-table">

  <div class="square black_square" id="A1"> </div>
  <div class="square grey_square"> </div>
  <div class="square black_square"> </div>
  <div class="square grey_square"> </div>
  <div class="square black_square"> </div>
  <div class="square grey_square"> </div>
  <div class="square black_square"> </div>
  <div class="square grey_square"> </div>
  <div class="clear_float"> </div>

  <div class="square grey_square" id="B1"> </div>
  <div class="square black_square"> </div> 
  <div class="square grey_square"> </div>
  <div class="square black_square"> </div>
  <div class="square grey_square"> </div>
  <div class="square black_square"> </div>
  <div class="square grey_square"> </div>
  <div class="square black_square"> </div>
  <div class="clear_float"> </div>

  <div class="square black_square"> </div>
  <div class="square grey_square"> </div>
  <div class="square black_square"> </div>
  <div class="square grey_square"> </div>
  <div class="square black_square"> </div>
  <div class="square grey_square"> </div>
  <div class="square black_square"> </div>
  <div class="square grey_square"> </div>
  <div class="clear_float"> </div>

  <div class="square grey_square"> </div>
  <div class="square black_square"> </div>
  <div class="square grey_square"> </div>
  <div class="square black_square"> </div>
  <div class="square grey_square"> </div>
  <div class="square black_square"> </div>
  <div class="square grey_square"> </div>
  <div class="square black_square"> </div>
  <div class="clear_float"> </div>

  <div class="square black_square"> </div>
  <div class="square grey_square"> </div>
  <div class="square black_square"> </div>
  <div class="square grey_square"> </div>
  <div class="square black_square"> </div>
  <div class="square grey_square"> </div>
  <div class="square black_square"> </div>
  <div class="square grey_square"> </div>
  <div class="clear_float"> </div>

  <div class="square grey_square"> </div>
  <div class="square black_square"> </div>
  <div class="square grey_square"> </div>
  <div class="square black_square"> </div>
  <div class="square grey_square"> </div>
  <div class="square black_square"> </div>
  <div class="square grey_square"> </div>
  <div class="square black_square"> </div>
  <div class="clear_float"> </div>

  <div class="square black_square"> </div>
  <div class="square grey_square"> </div>
  <div class="square black_square"> </div>
  <div class="square grey_square"> </div>
  <div class="square black_square"> </div>
  <div class="square grey_square"> </div>
  <div class="square black_square"> </div>
  <div class="square grey_square"> </div>
  <div class="clear_float"> </div>

  <div class="square grey_square"> </div>
  <div class="square black_square"> </div>
  <div class="square grey_square"> </div>
  <div class="square black_square"> </div>
  <div class="square grey_square"> </div>
  <div class="square black_square"> </div>
  <div class="square grey_square"> </div>
  <div class="square black_square"> </div>
  <div class="clear_float"> </div>

</div>