
<form method="POST" action="/login" class="form-signin mt-5">
  <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
  <label for="email" class="sr-only">Email address</label>
  <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required autofocus>
  <label for="password" class="sr-only">Password</label>
  <input type="password" name="password" id="inputPassword1" class="form-control" placeholder="Password" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" id="signin" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted text-center">&copy; oneManShort Checkers</p>
</form>

