.list-group-item {
  line-height: 2.5;
}

.tile {
    height: 65px;
    width: 65px;
    background: black;
    border: 2px solid black;    
}

.jumbotronCss {
    height: 50px;
}

tbody {
    border: solid 3px black;
}

.White {
    background-color: blue;
    /* border-radius: 50%; */
    color: white;
    
}

.Black {
    /* border-radius: 50%; */
    color: white;
}

.undefined {
    color: black;
}

.Square {
    color: white;
    background-color: transparent;
}

/* Dragula */

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

body {
  background-image: url("https://images.pexels.com/photos/353644/pexels-photo-353644.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
 }

